$couleur-blanc: #f8f8f8;
$couleur-rose: #FF7E9D;
$couleur-bleu: #c0f7fe;
$couleur-vert: #99e885;
$couleur-orange: #f7cb46;
$couleur-beige: #FFDC8B;
$couleur-violet:#b29bf8;
$couleur-noir:#000000;

$breakpoint-sm: 575px;
$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-ph: 767px;
$breakpoint-xxl:1400px;
$breakpoint-xxxl: 2560px;