@use "variables" as v;
@use "mixins" as m;
@use "typo";

body{
    margin: 0;
    padding: 2rem 4rem;
    @media (max-width: 768px) {
        padding: 2rem 2rem;
    }

}
.error{
    background-color: #3a68ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23202021' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;
    height: 100vh;
    color: v.$couleur-blanc;
    h1{
        font-family: 'MabryPro-Black';
        text-transform: uppercase;
        font-size: 5rem;
    }
    i{
        padding-right: 3rem;
    }
}
.container{
    border: 4px solid v.$couleur-noir;
    box-shadow: 10px 12px 0px v.$couleur-noir;
}
a{
    text-decoration: none;
}
h1{
    margin:0;
}
img{
    width: 100%;
    border: 4px solid v.$couleur-noir;
}

//HEADER
header{
    display: flex;
    position: sticky;
    height: 9vh;
    align-items: center;
    border-bottom: 7px solid v.$couleur-noir;
    .burger {
        display: none; 
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        width: 60px;
        height: 60px;
        background: none;
        border: none;
        cursor: pointer;

        span {
            display: block;
            width: 100%;
            height: 8px;
            background-color: v.$couleur-beige;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &.active span:nth-child(1) {
            transform: translateY(20px) rotate(45deg);
        }
        &.active span:nth-child(2) {
            opacity: 0;
        }
        &.active span:nth-child(3) {
            transform: translateY(-12px) rotate(-45deg);
        }
    }
    h1{
        padding: 0 10px;
        font-family: 'MabryPro-bold';
        font-size: clamp(1.2rem, 3vh, 5rem);
    }
    .titre{
        border-right: 4px solid v.$couleur-noir;
        background-color: v.$couleur-beige;
        height: 100%;
        width: 18%;
        min-width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .buttons{
        display: flex;
        gap: 1rem;
        font-family: 'MabryPro-bold';
        text-transform: uppercase;
        justify-content: center;
        width: 90%;
        a{
            color: v.$couleur-noir;
            font-size: clamp(1rem, 2vh, 5rem);
        }
    }
     @media (max-width: v.$breakpoint-lg) {
        .buttons {
                a{
                    font-size: clamp(1px, 1.5vh ,13px);
                }
            }
    } 
    @media (max-width: v.$breakpoint-ph) {
        .titre{
            width: 90%;
        }
        .container-burger{
            height: 100%;
            width: 60%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .burger {
            display: flex;
        }
        .buttons {
            position: absolute;
            top: 9.5vh;
            left: 30;
            height:0;
            width: 100%;
            overflow: hidden;
            flex-direction: column;
            background-color: v.$couleur-beige;
            transition: height 0.3s ease;
            border-bottom: 3px solid v.$couleur-noir;
            &.open {
                height: calc(30vh - 9vh);
            }
            a{
                padding: 0px 10px;
                font-size: 1rem;
            }
        }
    }
     
}

.buttons a.active{
    color: v.$couleur-orange;
}

.moi{
    border-bottom: 4px solid v.$couleur-noir;
    .inner-container{
        display: flex;
        height: 70vh;
    }
    .presentation{
        width:60%;
        display: flex;
        align-items: center;
        border-right: 4px solid v.$couleur-noir;
        background-color: #f8f8f8;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");        
        .block{
            padding: 2rem 8rem 3rem 3rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @media (max-width: 1199px) {
                padding: 2rem 1rem 3rem 1rem;
            }
        }
        h2{
            font-family: 'MabryPro-bold';
            text-transform: uppercase;
            font-size: clamp(1.2rem, 2vh, 5rem);
        }
        .details{
            i{
                margin-right: 10px;
            }
            span{
                font-family: 'MabryPro-regular';
                background-color: v.$couleur-vert;
                padding: 8px;
                margin-right: 15px;
                font-size: clamp(1.2rem, 2vh, 5rem);
            }
            @media (max-width: v.$breakpoint-ph) {
                span{
                    font-size: 13px;
                }
            }
            @media (max-width: v.$breakpoint-xxl) {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
        h1{
            font-family: 'MabryPro-black';
            font-size: clamp(4rem, 8vh, 7rem);
            text-transform: uppercase;
            line-height: 0.8;
        }
        p{
            font-family: 'MabryPro-regular';
            font-size: clamp(1.2rem, 2vh, 5rem);
        }
        @media (max-width: v.$breakpoint-xxl) {
            p{
                margin: 0;
            }
        }
        @media (max-width: v.$breakpoint-lg) {
            h1{
                font-size: clamp(3rem, 2vh, 5rem);
            }
            p{
                font-size: clamp(10px, 2vh, 1rem);
                margin: 0;
            }
        }
        @media (max-width: v.$breakpoint-ph) {
            p{
                font-size: clamp(10px, 1.5vh, 1rem);
                margin: 0;
            }
        }
        .icons{
            display: flex;
            gap: 1rem;
            i{
                font-size: clamp(2rem, 3vh, 5rem);
                color: v.$couleur-noir;
                background-color: v.$couleur-blanc;
                padding: 0.4rem;
                border: 2px solid v.$couleur-noir;
                box-shadow: 3px 3px 0px v.$couleur-noir;
                &:hover{
                    @include m.pushBtn;
                }
            }
        }
    }
    .photo{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$couleur-vert;
        .block{
            display: flex;
            justify-content: center;
        }
        .cadre{
            width: 60%;
        }
        img{
            box-shadow: 12px 12px 0px #70aa61,
        }
    }
    
}

.outils{
    height: auto;
    border-bottom: 4px solid v.$couleur-noir;
     @media (max-width: v.$breakpoint-ph) {
        height: 40vh;
    } 
    .inner-container{
        height: 100%;
        display: flex;
        @media (max-width: v.$breakpoint-ph) {
            flex-direction: column;
        } 
    }
    .title{
        height: auto;
        width: 11%;
        min-height: 12rem;
        min-width: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$couleur-rose;
        border-right: 4px solid v.$couleur-noir;
        
        flex-direction: column;
        @media (max-width: v.$breakpoint-ph) {
            width: 96%;
            height: 30%;
            min-height: auto;
            align-items: start;
            padding-left: 1rem;
            border-bottom: 4px solid v.$couleur-noir;
        } 
        h1{
            font-family: 'MabryPro-black';
            font-size: clamp(2rem, 2vh, 3rem);
            text-transform: uppercase;
            color: #f8f8f8;
        }
        i{
            font-size: 2rem;
            color: #f8f8f8;
        }
    }
    .blocks{
        display: flex;
        height: auto;
        width: 90%;
        gap:3rem;
        padding: 1rem;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: v.$breakpoint-ph) {
            
            justify-content: center;
        } 
    }
    .block{
        display: flex;
        width: 10%;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        i{
            font-size: clamp(3rem, 5vh, 6rem);
        }
        span{
            font-family: 'MabryPro-bold';
            text-transform: uppercase;
            font-size: clamp(1rem, 2vh, 3rem);
            @media (max-width: v.$breakpoint-ph) {
                font-size: 12px;
            } 
        }
    }
}

.projets{
    .inner-container{
        padding: 2rem 3rem;
    }
    h1{
        font-family: 'MabryPro-black';
        text-transform: uppercase;
        font-size: 2rem;
    }
    .btn{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        .fleche{
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            i{
                background-color:v.$couleur-violet;
                padding: 0.8rem 1rem;
                border: 3px solid v.$couleur-noir;
                box-shadow: 6px 6px 0px v.$couleur-noir;
                &:hover{
                    @include m.pushBtn;
                }
            }
        }
        @media (max-width: v.$breakpoint-ph) {
            flex-direction: column;
            gap: 1rem;
            .fleche{
                justify-content: center;
            }
        }
    }
    .btn-projet{
            font-family: 'MabryPro-bold';
            text-transform: uppercase;
            font-size: 1rem;
            border: 3px solid v.$couleur-noir;
            padding: 0.5rem 1rem;
            box-shadow: 6px 6px 0px v.$couleur-noir;
            background-color: v.$couleur-blanc;
            cursor: pointer;
            &:hover{
                @include m.pushBtn;
            }
            a{
                color: v.$couleur-noir;
            }
            i{
                margin-left: 0.5rem;
            }
        }
    .carousel{
        transition: all 0.5s ease;
        width: 100%;
        margin-top: 2rem;
        justify-content: space-between;
        .cadre{
            width: 80%;
        }
        @media (max-width: 991px) {
            display: flex !important;
        }
    }
    
    .slides{
        width: 30%;
        height: 100%;
        flex-direction: column;
        border: 4px solid v.$couleur-noir;
        box-shadow: 8px 8px 0px v.$couleur-noir;
        overflow: hidden;
        .description{
            padding: 1rem;
            background-color: #f8f8f8;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234a4a4a' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            h1{
                font-size: 23px;
            }
            span{
                font-size: 14px;
                background-color: v.$couleur-blanc;
                border: 3px solid v.$couleur-noir;
                padding: 5px 10px;
            }
            p{
                font-family: 'MabryPro-Light';
                font-size: 14px;
                margin: 10px 0 0 0;
            }
            .tech{
                margin: 15px 0;
            }
            .btn-projet{   
                display: inline-block;
                font-size: 15px;
            }
        }
         @media (max-width: 991px) {
                display: none;
                width: 100%;

                &.mobile-active {
                    display: flex;
                }
            }
        }
    .image{
        display: flex;
        justify-content: center;
        padding: 2rem 0 ;
        border-bottom: 4px solid v.$couleur-noir;
        background-color:v.$couleur-violet;
        img{
            transition: all 0.3s ease;
            &:hover{
                cursor: pointer;
                transform: scale(1.05);
                @include m.liftBtn;
            }
        }
    }
    .dots-container{
        margin-top: 1.5rem;
        display: flex;
        align-self: center;
        @media (max-width: 991px) {
            margin:0;
        }
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        border: 3px solid v.$couleur-noir;
        background-color: v.$couleur-blanc;
        border-radius: 50%;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: v.$couleur-noir;
    }
}

