@font-face {
  font-family: 'MabryPro-Regular';
  src: url('../fonts/MabryPro-Regular.woff2') format('woff2'),
       url('../fonts/MabryPro-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'MabryPro-Medium';
  src: url('../fonts/MabryPro-Medium.woff2') format('woff2'),
       url('../fonts/MabryPro-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'MabryPro-Light';
  src: url('../fonts/MabryPro-Light.woff2') format('woff2'),
       url('../fonts/MabryPro-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'MabryPro-Bold';
  src: url('../fonts/MabryPro-Bold.woff2') format('woff2'),
       url('../fonts/MabryPro-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'MabryPro-Black';
  src: url('../fonts/MabryPro-Black.woff2') format('woff2'),
       url('../fonts/MabryPro-Black.woff') format('woff');
  font-weight: 1000;
  font-display: swap;
  font-style: normal;
}

