$color-one:#fff9f4;
$color-two:#f56e6d;
$color-three:#8d6f6d;
$color-four:#372727;
$color-five:#f6cdc9;
$color-white:white; 
$color-black:black;

$breakpoint-sm: 575px;
$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-ph: 767px;
$breakpoint-xxl:1400px;